@use 'vuetify/styles' with (
  $color-pack: false,
  $utilities: false,
  $alert-padding: 24px,
);

//@use 'sass:meta';
//@include meta.load-css('vuetify/styles', (
//        color-pack: false,
//        utilities: false,
//        alert-padding: 24px,
//));
